

/* carreid over from app.css */
.App {
  /* background-image: url('../assets/rockywall.png'); */
}

.App-logo {
  max-height: 40vmax;
  /* pointer-events: none; */

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-image: url('../assets/rockywall.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

p {
  color: black;
}

.App-link {
  color: #61dafb;
}

/* animations */

.animatedFastFade {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedSlowFade {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  margin: 20px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.scrolling-content {
  margin-left: 0;
  max-width: 90vw;
}

.component.first-component {
  background-image: url('../assets/rockywall.png');
    max-height: 100%;
    overflow: hidden;
}

.first-component--inside-scroller {
  position: relative;
  right: 20px;
  top: 100px;

}

.component.second-component {
  background-image: url('../assets/rockywall.png');
  max-height: 100%;
    overflow: hidden;
}

.component.third-component {
  background-color: blue;
  max-height: 100%;
    overflow: hidden;
}

.component.fourth-component {
  background-color: yellow;
  max-height: 100%;
    overflow: hidden;
}

.component.fifth-component {
  background-color: purple;
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: block;
  justify-content: center;
  width: 100px;
  margin-left: 5px;
  /* float: left; */
}

.pagination-item {
  margin: 10px;
  width: 90px;
}

.pagination-additional-class-small {
  margin: 0;
  position: fixed;
  top: 10px;
  display: block;
  justify-content: center;
  width: 35px;
  /* margin-left: 1px; */
  /* float: left; */
}
.pagination-item-small {
  margin: 5px;
  width: 35px;
}

.sideBar {
  width: 15vw;
  max-width: 130px;
  min-width: 40px;
}

/* a:active {
  background-color: yellow;
}


a{
  text-decoration: none;
  color: #000;
}

a:hover, a:focus{
  color: red;
  text-decoration: none;
  outline: none;
}

.active{
  font-size: 30px;
  color: red;
  border-bottom: 5px solid red;
} */

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}


@media (max-width: 768px) {
  .pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
      margin-right: 5px;
  }
}

