
    .carousel {
width: 35vw;  
}

@media (max-width: 925px) {
    .carousel {
        width: 55vw;  
        height:auto;
    }
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
